.card {
    border-radius: 12px;
    padding: 20px;
    margin: 0;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #e3e3e3;
}

.card-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.card-version-date {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 17px;
}

.card-version {
    font-weight: bold;
    margin-right: 8px;
}

.card-date {
    font-weight: bold;
}

.card-status-programmer {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.status-box {
    padding: 6px 15px;
    color: white;
    border-radius: 5px;
    text-transform: capitalize;
    margin-right: 30px;

}

.card-programmer {
    display: flex;
    align-items: center;
}

.card-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #e3e3e3;
    margin-right: 12px;
}

.card-programmer-name {
    font-weight: bold;
}

.card-body {
    margin-bottom: 16px;
    flex: 1;
}

.card-description {
    font-size: 0.85em;
    line-height: 1.4;
    color: #888888;
}

.card-footer {
    display: flex;
    justify-content: flex-start;
    margin-top: auto;
}

.download-button {
    background-color: transparent;
    color: #007bff;
    border: 1px solid #007bff;
    padding: 15px 50px;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
}

.download-button:hover {
    color: #0056b3;
    border-color: #0056b3;
}

@media (max-width: 768px) {
    .card {
        padding: 16px;
        width: 100%;
        height: auto;
    }

    .status-box {
        font-size: 0.9em;
    }

    .download-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 12px;
        width: 100%;
        height: auto;
    }

    .card-image {
        width: 50px;
        height: 50px;
    }

    .status-box {
        font-size: 0.8em;
    }

    .download-button {
        padding: 6px 12px;
        font-size: 14px;
    }
}
