.collapsible-section {
  border: 1px solid #ddd;
  margin: auto;
  padding: 0;
  border-radius: 8px;
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.collapsible-header {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #f9f9f9;
  width: 100%;
  box-sizing: border-box;
}

.collapsible-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.collapsible-header h3 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  flex-grow: 1;
}

.collapsible-header button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.collapsible-header button.open {
  transform: rotate(180deg);
}

.collapsible-content {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  max-height: 0;
  padding: 0 15px;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.collapsible-content.open {
  max-height: calc(100vh - 120px);
  padding: 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .collapsible-section {
    width: 90%;
  }

  .collapsible-header h3 {
    font-size: 14px;
  }

  .collapsible-content p {
    font-size: 12px;
  }

  .collapsible-header button {
    font-size: 14px;
  }

  .collapsible-content {
    padding: 0 10px;
  }

  .collapsible-content.open {
    padding: 10px;
    max-height: calc(70vh - 60px);
  }
}

@media (max-width: 480px) {
  .collapsible-section {
    width: 95%;
  }

  .collapsible-header {
    padding: 8px;
  }

  .collapsible-header h3 {
    font-size: 12px;
  }

  .collapsible-content p {
    font-size: 10px;
  }

  .collapsible-header button {
    font-size: 12px;
  }

  .collapsible-content {
    padding: 0 8px;
  }

  .collapsible-content.open {
    padding: 8px;
    max-height: calc(60vh - 40px);
  }
}

@media (max-width: 320px) {
  .collapsible-section {
    width: 100%;
    padding: 0;
  }

  .collapsible-header {
    padding: 5px;
  }

  .collapsible-header h3 {
    font-size: 10px;
  }

  .collapsible-content p {
    font-size: 8px;
  }

  .collapsible-header button {
    font-size: 10px;
  }

  .collapsible-content {
    padding: 0 5px;
  }

  .collapsible-content.open {
    padding: 5px;
    max-height: calc(50vh - 20px);
  }
}
