.tabs-container {
  position: relative;
}

.react-tabs__tab-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 20px 0px 20px;
  background-color: transparent;
  list-style-type: none;
  border: none;
  flex-wrap: wrap;
}

.react-tabs__tab {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.react-tabs__tab--selected {
  border-bottom: 2px solid #5555ff;
}

.react-tabs__tab:focus {
  outline: none;
}

@media (max-width: 600px) {
  .react-tabs__tab-list {
    flex-direction: column;
    align-items: center;
  }

  .react-tabs__tab {
    font-size: 14px;
    padding: 8px 15px;
    margin: 5px 0;
  }
}
